{% embed 'partials/base.html.twig' %}

  {% block content %}
  <div id="blog">
    <div class="container">
      {% include 'partials/single.html.twig' with {'blog':page.parent, 'truncate':false} %}
    </div>
  </div>
  {% endblock %}

{% endembed %}
